<center>
    <div>
        {% if points == 0 %}
            {{ output }}
            Наша оценка надёжности пароля - {{points}}%. Мы считаем Ваш пароль небезопасным, так как в нём мало символов.
        {% elif 0 < points < 100 %}
            Наша оценка надёжности пароля - {{points}}%. {{ output }}
        {% else %}
            Мы считаем, что Ваш пароль обладает достаточно высокой надёжностью!
        {% endif %}
    </div>
    <div>
        <a href="{% url 'faq' %}">Вернуться назад</a>
    </div>
</center>